{{define "Battle"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Batalhas</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div class="container">


    {{if .ShowStartBattle}}
    <div class="start-battle">
        <h1>Iniciar Batalha</h1>
        <label>Herói 1:</label>
        <select id="heroi1_id">
            {{range .Heroes}}
            <option value="{{.ID}}">{{.NomeHeroi}}</option>
            {{end}}
        </select>
        <label>Herói 2:</label>
        <select id="heroi2_id">
            {{range .Heroes}}
            <option value="{{.ID}}">{{.NomeHeroi}}</option>
            {{end}}
        </select>
        <button onclick="startBattle()">Iniciar Batalha</button>
    </div>
    {{end}}    

    <!-- Detalhes da Batalha -->
    {{if .ShowBattleDetails}}
    <div class="battle-container">
        <h1>Detalhes da Batalha</h1>
        <p><span>ID:</span> {{.Battle.ID}}</p>
        <p><span>Herói 1:</span> {{.Battle.Heroi1Nome}}</p>
        <p><span>Herói 2:</span> {{.Battle.Heroi2Nome}}</p>
        <p><span>Data:</span> {{.Battle.Data}}</p>
        <p><span>Resultado:</span> {{.Battle.Resultado}}</p>
    </div>
    {{end}}

    <!-- Resultado da Batalha -->
    <div id="battle-result" class="result-container" style="display:none;">
        <h1>Resultado da Batalha</h1>
        <p id="battle-result-text"></p>
    </div>

    <script>
        async function startBattle() {
            const heroi1_id = document.getElementById('heroi1_id').value;
            const heroi2_id = document.getElementById('heroi2_id').value;
        
            const response = await fetch('/start-battle', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ heroi1_id, heroi2_id })
            });
        
            if (response.ok) {
                const result = await response.json();
                document.getElementById('battle-result').style.display = 'block';
                document.getElementById('battle-result-text').textContent = result.message;
            } else {
                console.error('Erro ao iniciar batalha');
            }
        }
        </script>

    

    

</div>
</body>
</html>
{{end}}
