<!-- templates/CreateHero.html -->
{{define "CreateHero"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Criar Novo Herói</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="mission-container">
    <h1>Criar Novo Herói</h1>
    <form class="mission-form" action="/insert-hero" method="post">
        <label>Nome Real:</label>
        <input type="text" name="nome_real">

        <label>Nome Herói:</label>
        <input type="text" name="nome_heroi">

        <label>Sexo:</label>
        <input type="text" name="sexo">

        <label>Altura:</label>
        <input type="text" name="altura">

        <label>Peso:</label>
        <input type="text" name="peso">

        <label>Data de Nascimento:</label>
        <input type="date" name="data_nascimento">

        <label>Local de Nascimento:</label>
        <input type="text" name="local_nascimento">

        <label>Poderes (separados por vírgula):</label>
        <input type="text" name="poderes">

        <label>Nível de Força:</label>
        <input type="number" name="nivel_forca">

        <label>Popularidade:</label>
        <input type="number" name="popularidade">

        <label>Status:</label>
        <input type="text" name="status">

        <input class="submit-button" type="submit" value="Criar">
    </form>
    <a class="back-link" href="/">Voltar para a Página Inicial</a>
  </div>
</body>
</html>
{{end}}
