<!-- templates/Index.html -->
{{define "Index"}}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="start-battle">
    <h1>Bem-vindo ao Banco de Dados de Heróis</h1>
    <nav>
      <ul>
        <li><a class="action-link" href="/heroes">Lista de Heróis</a></li>
        <li><a class="action-link" href="/create-hero">Criar Novo Herói</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>

{{end}}
